/* Table of content

1.Resets
2.Page level styles
3.Typography
4.utility Styles
5.Header and top navigation
6.Program Navigation
7.homepage content
8.Program pages
9.Media queries for larger viewpoints

*/ 


/* ******* 1. Resets ******* */


*{
    margin: 0;
    padding: 0;
    border: 0;
}

/* 2. Page level styles */

html{
    font-size: 20px; 
    /*root font size*/
}

body{
    font-family: sans-serif;
    line-height: 1.5em;
    margin: 0.5rem;
    background-color: rgb(134, 134, 134);
}

#wrapper{
   max-width: 1200px;
   
   margin: 0 auto;
}

.program-nav {
    margin-top: 100px;
}

input{
 border: solid 1px black;
    padding: 3px;
}

p,
h1,
h2,
h3,
h4{
    margin-bottom: 1em;
}


/******** 3.typography ******** */

h1{
    font-size: 1.5rem;
    line-height: 1em;
    margin-left: 1rem;
} 

h2 {
    color: #0033a1;
    margin-left: 1rem;
}

.card h4 a {
    color: white;
    margin-left: 1rem;
  }

h5 {
    color: white;
    margin-left: 1rem;
}

h6 {
    color: white;
    margin-left: 1rem;
}

.card p {
    color: white;
    margin-left: .5rem;
    margin-right: .5rem;
}
/******** 4. Utilities ******** */

.flex-container{
    display: flex;
    justify-content: space-between;
}

.large-text{
    font-size: larger;
}

.img-reponsive{
   width: 100%; 
}

float-right{
    float: right;
}




/* ******** 5.header and top navigation ******** */

header{
    position: relative;
    display: flex;justify-content: space-between;
    position: relative;
}

h1 a {
    color: white;
    text-decoration: none;
}

h2 a{
    color: white;
}

#top-menu{
    display: none;
    padding: 0.5em;
    border: solid 1px black;
    background-color: white;
    clear: right;
    position: absolute;
    right: 0;
    top:28px;

}

#top-menu ul{
    list-style-type: none;
}

/* Add styles for the fixed blue bar */

body {
    margin: 0;
    padding: 0;
}

.fixed-bar {
    background-color:  #0033a1; /* Blue color */
    position: fixed; height: 100px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it appears above other content */
    
}

.pagetitle {
    background-color:  #0033a1;
}

.fixed-bar h1 {
    color: white;
    padding: 0px;
    text-align: center;
    font-size: 1.5rem;
    margin: 0.25rem;
}

.fixed-bar h2 {
    color: white;
    padding: 0px;
    text-align: center;
    font-size: 1rem;

}

.main-menu {
    display: flex;
    list-style-type: none;
}

.main-menu li{
margin-left: 1rem;
margin-right: 1rem;
}


/* ******** 6. program Navigation ******** */

nav ul {
    list-style-type: none;
}

li.dropdown{
    border-bottom: solid 1 px black;
}

li.dropdown ul{
    display: none;
}

li.dropdown:hover ul{
    display: block;
}

.dropdown a{
    display: block;
    padding: 5px;
    color: black; 
    text-decoration: none;
}

.dropdown li a{
    color: white;

}

.dropdown li a:hover{
    color: yellow

}

.expand{
    float: right;
}



/* ******** 7. Homepage content ******** */

.banner{
    padding: 6em 2em;
    background-image: url("images/queens.webp");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2em 0;
}

.banner a{
    display: block;
    padding: 0.5em;
    color: white;
    text-decoration: none;
    font-size: larger;
    text-shadow: 2px 2px 2px #000;
    background-color: rgba(0, 0, 0, 0.5) ;
}

/* ********* 8.Program pages ******** */

.program-title {
    margin-top: 1em;
}

.program-layout a {
    color: #000;
    text-decoration: none; 
}

.program-layout h2,
.program-layout h3,
.program-layout h4 {
    font-size: smaller;
    margin: 0;
}

.program-layout h3 {
    text-transform: uppercase;
}

.program-card {
    background-color: transparent;
    transition-property: background-color box-shadow transform;
    transition-duration: 1s;
    border-radius: 10px;
}

.program-card:hover {
    background-color: #e6f3ff;
    box-shadow: 5px 5px 7px #999;
    transform: scale(1.02) rotate(0.5deg);
}

.card-body {
    padding: 0.5em;
}

.program-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.img-card
{
   width: 100%;
   border-radius: 8px;
max-width: 100%; height: auto;max-width: 100%; height: auto;

  
} 

 .card{
       /*flex: 1 0 auto;  flex-grow; yes flex-shrink;no flex-basis;original width*/
     
    margin-top: 30px;
      border: 1px solid rgb(152, 78, 14);
      background-color: #0033a1;
     transition-property: background-color box-shadow transform;
     border-radius: 8px;
     margin-bottom: 20px;
    
    
    }
    
    
    .card-body{
       margin-left: 20px;
    }
    
    
    .card:hover{
      transition-duration: 1s;
      background-color: rgb(246, 247, 173);
      box-shadow: 1px 2px 1px rgb(31, 30, 30);
      transform: scale(1.02);
     
    }
    
    .card:hover p{
        color: black;
    }

 .card:hover h4 a {
        color: black;
    }

    .card:hover h5 {
        color: black;
    }

   .card:hover h6 {
        color: black;
    }

/* ******** 9. Media queries for large viewports ******* */
@media (min-width:768px) {

    .program-nav ul{
       display: flex;
       justify-content: space-between;
    }
    
    
    .program-nav li{
    width: 30%;
    position: relative;
    }
    
    
    .program-nav li li{ /* these ones are ones that dropdown, so the text fits the box content size*/
       width: 100%;
    }
    
    
    
    
    .dropdown{
       width: 30%;
       position: relative;
     
      
    }
    .dropdown ul{
       display: block;
       position: absolute;
       background-color: #0033a1;
       border: solid rgb(144, 177, 201);
       padding: 5px;
       width: 100%;
      
    }
    .program-layout img{
       width: 100%;
    }
    .program-layout{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
      
       grid-gap: 1rem;
       font-size: smaller;
      
    



     
      
    }
    
    
    h2{
      
       margin-left: 20px;
    }
    
    
    
    
    
    
    
    
    a{
    text-decoration: none;
    color: gray;
    }
    
    
    a:hover{
    text-decoration: underline;
    color: black;
    }
    
    
    .img-card
    {
       width: 100%;
       border-radius: 8px;
    max-width: 100%; height: auto;max-width: 100%; height: auto;
    
      
    } 
    
    #top-menu {
        display: flex;
        border: none;
        position: static;
        }

    #top- menu ul {
        display: flex;
    }

    #top-menu li {
        margin-right: 1 em;
    }

    .menu-icon { 
        display: none;
    
    }
    

}/*closing media querie */