body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    height: 100%;
    background:
    url("SWV-unified-background.png") no-repeat center ;
    background-size: cover;
}

.centered {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.col-left{
    width: auto; float: left; color: blue; font-weight: bold;
    text-align: center; margin: auto; border-radius: auto; background: white;
    width: 48%;}

 .col-right{
    width: auto; float: right; color: red; font-weight: bold;
    text-align: center; margin: auto; border-radius: auto; background: black;
    float:right;
    width: 50%; }	
    
p{ font-size: 20px; }